/*-- scss:defaults --*/


/*-- scss:rules --*/

// Bootstrap hardcodes dark text on .btn-secondary and .btn-light regardless of
// the actual background color. This reapplies Bootstrap's precalculated dark
// button text color to be used with my dark secondary color (steel: "#5d6174")
.btn-secondary,
.btn-outline-secondary {
  color: var(--bs-btn-color);
}

// -----------------------------------------------------------------------------
// Simulation styles

// Hide the number input box from sliders
form:has(input[type="range"]) input[type="number"] {
  display: none;
}

// Make it so checkbox labels take the full width instead of being constrained
// to whatever --label-width is set to; this also makes it so the checkbox
// itself is right-aligned
form:has(input[type="checkbox"]) {
  label {
    width: auto !important;
    flex: 1;
  }

  input[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 0;
  }
}

// Hide the code-copy button when the code itself is hidden (OJS inputs like 
// to include the copy button??)
.code-copy-outer-scaffold:has(.cell-code.hidden) .code-copy-button {
  display: none;
}

.interactive {
  h6 {
    margin: 1.5rem 0 0;
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
    color: $brand-slate;
  }

  section:first-of-type h6 {
    margin-top: 0;
  }
}

// Box explaining general status
.status-readout {
  margin-top: 1.5em;
  font-size: 0.95em;

  p:last-child,
  table:last-child {
    margin-bottom: 0;
  }

  table {
    border: none;
    width: auto;
    background: none !important;
  }

  td {
    border: none;
    padding: 0.15em 0.5em;
    vertical-align: middle;
  }

  // Swatch column
  td:first-child {
    padding-left: 0;
    padding-right: 0.3em;
  }

  // Percentage column
  td:last-child {
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  // Summary row with top border
  tr.summary td {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 0.4em;
  }

  // Dimmed row
  tr.dimmed {
    opacity: 0.35;
  }
}

// Helper classes for highlighting node names (i.e. class="node node-x")
.node {
  font-weight: bold;

  &-x {
    color: $brand-rust;
  }

  &-y {
    color: $brand-darkblue;
  }

  &-z {
    color: $brand-mustard;
  }
}

// -----------------------------------------------------------------------------
// Other styles

// DAG dinkus! Little SVG icon of a three-node DAG
hr.dinkus {
  border: none;
  height: 26px;
  width: 32px;
  margin: 2em auto;
  background-color: #454545;
  mask: url("img/confounder-xy.svg") no-repeat center / contain;
  -webkit-mask: url("img/confounder-xy.svg") no-repeat center / contain;
}

// Modify the colors of the SVG DAG icons
img.dag-white {
  // invert(1) switches the black SVG to white
  // Use something like https://codepen.io/sosuke/pen/Pjoqqp to create 
  // filters for other colors hex colors
  filter: invert(1);
  opacity: 0.85;
}

img.dag-footer {
  // This filter is #616161 via https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(290deg) brightness(100%) contrast(92%);
}

// Shrink KaTeX math a little so it fits in the text better
.math.inline .katex {
  font-size: 1em !important;
}

// Special divs
.theorem.definition,
.theorem.lemma {
  @extend .alert;
  @extend .alert-info;
}

.general-note {
  @extend .alert;
  @extend .alert-danger;
  
  p:last-child {
    margin-bottom: 0;
  }
}

// Hero stuff

// Remove top spacing so hero sits flush against navbar
body:has(.hero-banner, .hero-banner-mini) #quarto-content main.content {
  padding-top: 0;
  margin-top: 0;

  #title-block-header {
    margin: 0;
    padding: 0;
    display: none;
  }
}

// Hero image section
.hero-image {
  margin: 0;
  padding: 0;
  line-height: 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
  }
}

// Dark hero banner with page title
.hero-banner {
  background-color: $brand-burgundy;
  color: #ffffff;
  text-align: center;
  padding: 4rem 1rem;

  h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
  }

  p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.85);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &-mini {
    @extend .hero-banner;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
  }
}

// Footer stuff

.nav-footer {
  a:hover {
    color: $link-hover-color;
  }
}

// Footer center section stuff
.nav-footer .nav-footer-center {
  // Override Quarto's large margin-top on narrow screens
  @media (max-width: 767.98px) {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.5em;
  }

  .toc-actions {
    padding: 0;

    // Center the GitHub actions links
    ul {
      padding-left: 0;
      margin-bottom: 0;
      justify-content: center;
      gap: 0.25em;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
