# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/_site/
/.quarto/
/_freeze/

# tikz stuff
tikz*.log
tikz*.tex
tikz*.aux

**/*.quarto_ipynb

/.luarc.json

# Claude stuff
.claude/*
CLAUDE.md
